

* {
    box-sizing: border-box;
  }
  
  body {
    background-color: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 20px;
  }
  

.sidebar{
    background-color: gray;
    height: 95vh;
    max-height: 95vh;
    overflow-y: auto;
}

.chatSection{
    background-color: greenyellow;
    height: 95vh;
}

.chat{
    height: 75vh;
    max-height: 75vh;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: hotpink;
}

.mensaje{
    height: 20vh;
    background-color: indigo;
}

